.ca-row-number{
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	height:30px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:30px;
    display: flex;
	align-items: center;
	justify-content: center;
	cursor: grab;
}

.ca-delete-row{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 18px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 100%;
    text-decoration: none!important;
    background: #fff;
    color: #000;
}

.ca-delete-row:hover {
    background: red;
    color: #fff!important;
}

.ca-add-row{
    margin-top: 10px;
}