.ca-banner{
    position: fixed;
    /*top: 0;*/
    left: 0;
    width: 100%;
    background-color: orange;
    z-index: 99999;
    padding: 5px 40px;
    display: none;
}

.ca-banner-arrow{
	cursor: pointer;
}

.ca-banner > table, .ca-banner > table tr, .ca-banner > table td{
    margin: 0 !important;
    border: none !important;
}

.ca-banner > table td{
    padding: 0 10px;
}
.ca-banner-nav{
    white-space: nowrap;
}
.ca-banner-message{
	display: none;
}

.ca-banner-message.current{
	display: initial;
}

.ca-banner-close-container{
	float: right;
	display: inline-block;
}

.ca-banner-close{
	cursor: pointer;
    font-weight: bold;
    font-size: 28px;
}